<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>account_notice</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous+Pro%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A700"/>
  <link rel="stylesheet" href="./styles/accountnotice.css"/>
</head>
<body>
<div class="accountnotice-xdB">
  <img class="vector-ULd" src="./assets/vector.png"/>
  <div class="auto-group-hjrz-bRF">
    <div class="title-gxV">
      <div class="title-32M">title</div>
      <div class="auto-group-bxw7-9LH">Teacher Is BAD...</div>
    </div>
    <div class="content-dFT">
      <div class="content-yKK">content</div>
      <div class="auto-group-pekd-5t9">so many homeworks....</div>
    </div>
  </div>
  <div class="delete-8bX">
    <img class="vector-fLZ" src="./assets/vector-9wb.png"/>
    <div class="delete-Q3F">delete</div>
  </div>
</div>
</body>