<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>account</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/account.css"/>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
	<div th:replace="./header :: header"></div>
	
<div class="account-wTB">
  <div class="auto-group-hpfj-TAd">
    <div class="name-nih" th:text="${UID}">NAME</div> <!-- 세션 값인 UID받아옴 -->
    <div class="auto-group-swhf-JBF">
      <div class="log-out-SHT" onclick="logout()">log out</div>
      <div class="delete-account-kJ9">delete account</div>
    </div>
  </div>
  <div class="scrollframe-4Zj">
    <div class="content1-mj3">
      <div class="item-1-t2y">1</div>
      <div class="hello-everyone-BGy">hello, everyone</div>
      <div class="witingdate-sfb">2023.11.25</div>
      <img class="close-nnZ" src="./assets/close.png"/>
    </div>
  </div>
</div>

<script>
function logout() {
    location.href = "/logout";
}
</script>

</body>