<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>delete_account</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/deleteaccount.css"/>
</head>
<body>
<div class="deleteaccount-2Vs">
  <div class="backrect-a1b">
  </div>
  <div class="are-you-sure-you-want-to-delete-your-account-tny">
  Are you sure 
  <br/>
  you want to delete your account?
  </div>
  <div class="item--Ni9">만약 원하신다면 비밀번호를 입력해 주세요.</div>
  <div class="id-DTs">ID</div>
  <div class="password-rWq">password</div>
  <div class="joinbox-hXT">
    <div class="jointxt-2pd">delete</div>
    <div class="joinrect-vv1">
    </div>
  </div>
</div>
</body>