<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>goodbye</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous+Pro%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A700"/>
  <link rel="stylesheet" href="./styles/goodbye.css"/>
</head>
<body>
<div class="goodbye-EbF">
  <div class="auto-group-u3vs-Mfs">GOOD BYE</div>
  <div class="joinbox-q5F">
    <div class="jointxt-Zmw">
    go to
    <br/>
    start
    </div>
    <div class="joinrect-gLm">
    </div>
  </div>
</div>
</body>