<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>header</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous+Pro%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A700"/>
  <link rel="stylesheet" href="./styles/header.css"/>
</head>
<body>
<div class="header-V3K">
  <img class="astrondustimg-zVs" src="./assets/astrondustimg-EiZ.png"/>
  <div class="observe-tr9">observe</div>
  <div class="nasa-pictures-bVf">
    <span class="nasa-pictures-bVf-sub-0">
    NASA
    <br/>
    
    </span>
    <span class="nasa-pictures-bVf-sub-1">pictures</span>
  </div>
  <div class="auto-group-yyyz-YJR">
    <div class="account-srV">account</div>
    <div class="notice-board-nyT">
      <span class="notice-board-nyT-sub-0">
      notice
      <br/>
      
      </span>
      <span class="notice-board-nyT-sub-1">board</span>
    </div>
  </div>
</div>
</body>