<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <title>Bootstrap Header</title>
</head>
<body>
<nav th:fragment="header" class="navbar navbar-expand-lg navbar-dark bg-dark container-fluid">
    <a class="navbar-brand" href="/main" style="font-size: 2.8rem;">Astron dust</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/observe"style="font-size: 2rem;">Observe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/nasapictures" style="font-size: 2rem;">NASApictures</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/noticeboard" style="font-size: 2rem;">Notice board</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/account" style="font-size: 2rem;">Account</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- jQuery and Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
