<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>login</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous+Pro%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nova+Cut%3A400"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./styles/login.css"/>
</head>
<body>

<section class="d-flex vh-100">

<div class="login-3R5" id="87:125">
<div class="singup-N5y" id="87:138">
<div class="signup-Y2P" id="87:139">sign up</div>
<div class="signuprectlogin-uX9" id="87:140"></div>
</div>
<div class="auto-group-vnuz-yG7" id="Vof7XU7SK4E4nEWu6cvNuZ">
<div class="auto-group-svjh-iUb" id="Vof7fDPXhjSYxdRjxDsVjH">
<div class="astrondust-3Ws" id="87:141">Astron</br>dust</div>
<div class="atston-dust-5iT" id="87:128">Atston dust</div>
<div class="you-can-see-many-constellations-and-talk-to-your-friends-9TR" id="87:127">You can see many constellations and talk to your friends.</div>
</div>
<div class="login-CRh" id="87:129">
<div class="login-GwM" id="87:137">sign in to Astron dust</div>

<input class="id-yas" type="text" placeholder="ID"/>
<input type="password" class="password-yUP" placeholder="password"/>

<div class="sign-in-to-astron-dust-oCX" id="87:136">→ login</div>
</div>
</div>
</div>

<!-- signUP버튼 클릭 시 -->
<script>
    document.querySelector(".singup-N5y").addEventListener('click', function() {
      location.href = '/signup'; // 회원가입 페이지로 이동
    });
    </script>

</section>

</body>