<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>login</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous+Pro%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nova+Cut%3A400"/>
  <link rel="stylesheet" href="./styles/login.css"/>
</head>
<body>
<div class="login-DAD">
  <div class="singup-w6D">
    <div class="signup-f2D">sign up</div>
    <div class="signuprectlogin-9i5">
    </div>
  </div>
  <div class="auto-group-gjkh-G21">
    <div class="auto-group-ega7-R9o">
      <div class="astrondust-95o">Astron</br>dust</div>
      <div class="atston-dust-3gy">Atston dust</div>
      <div class="you-can-see-many-constellations-and-talk-to-your-friends-9zu">You can see many constellations and talk to your friends.</div>
    </div>
    <div class="login-4MB">
      <div class="login-zEq">sign in to Astron dust</div>
      <input class="id-JWR" type="text" placeholder="ID"/>
      <input type="password" class="password-NFP" placeholder="password"/>
      <div class="sign-in-to-astron-dust-2aq">→ login</div>
    </div>
  </div>
</div>

<!-- signUP버튼 클릭 시 -->
<script>
document.querySelector(".singup-w6D").addEventListener('click', function() {
  location.href = '/signup'; // 회원가입 페이지로 이동
});
</script>

</body>