<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>main</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nova+Cut%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="./styles/main.css"/>
</head>
<body>
<div class="main-LZK">
  <div class="astrondust-Ghs">Astron</br>dust</div>

<img id="mainImg1" src="./assets/image-1.png" alt="내 이미지">
<img id="mainImg2" src="./assets/image-5.png" alt="내 이미지">
<img id="mainImg3" src="./assets/image-3.png" alt="내 이미지">
<img id="mainImg4" src="./assets/image-4.png" alt="내 이미지">

</div>
</body>