<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>makeNotice</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous+Pro%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A700"/>
  <link rel="stylesheet" href="./styles/makenotice.css"/>
</head>
<body>
<div class="makenotice-fzM">
  <div class="notice-board-zWq">
    <span class="notice-board-zWq-sub-0">
    notice
    <br/>
    
    </span>
    <span class="notice-board-zWq-sub-1">board</span>
  </div>
  <div class="auto-group-avix-xMB">
    <div class="title-THw">
      <div class="title-14Z">title</div>
      <div class="auto-group-sqab-Wn1">Teacher Is BAD...</div>
    </div>
    <div class="content-BdF">
      <div class="content-j8y">content</div>
      <div class="auto-group-vamy-qxh">so many homeworks....</div>
    </div>
  </div>
  <div class="savebox-V1f">
    <div class="save-2GV">save</div>
    <div class="saverect-84d">
    </div>
  </div>
</div>
</body>