<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>NASA_pictures</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/nasapictures.css"/>
</head>
<body>
<div class="nasapictures-UPw">
  <div class="nasa-pictures-oBK">
    <span class="nasa-pictures-oBK-sub-0">
    NASA
    <br/>
    
    </span>
    <span class="nasa-pictures-oBK-sub-1">pictures</span>
  </div>
  <div class="auto-group-tmjh-abP">
    <div class="pic1-g8d">
      <div class="pic1rect-EA9">
      </div>
      <div class="auto-group-bbyd-ZTK">
        <div class="title1-6CM">Seeing Sagittarius C in a New Light</div>
        <div class="summary1-RVX">The NIRCam (Near-Infrared Camera) instrument on NASA’s James Webb Space Telescope’s reveals a portion of the Milky Way’s dense core in a new light. An estimated 500,000 stars shine in this image of the Sagittarius C (Sgr C) region, along with some as-yet unidentified features. A large region of ionized hydrogen, shown in cyan, contains intriguing needle-like structures that lack any uniform orientation.</div>
      </div>
    </div>
    <div class="pic2-Ya9">
      <div class="pic2rect-u9o">
      </div>
      <div class="auto-group-cuou-2VK">
        <div class="title2-PKs">Tribal Students Make Robots with NASA Aerospace Engineer Casey Denham</div>
        <div class="summary2-uZ7">A 35mm camera, operated by astronaut William R. Pogue, Skylab 4 pilot, recorded this wide scene of his Skylab 4 crewmates on the other end of the orbital workshop. Astronauts Jerry P. Carr (right), commander, and Edward G. Gibson, science pilot, pose for the snapshot. Also in the frame are parts of three Extravehicular Mobility Unit (EMU) spacesuits, used on several EVA sessions during the third manning of the Skylab space station.</div>
      </div>
    </div>
  </div>
  <div class="pagenum-ncu">
    <div class="item-1-X4h">1</div>
    <div class="item-2-SBf">2</div>
    <div class="item-3-xvh">3</div>
  </div>
</div>
</body>