<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>NASA_pictures</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="/styles/nasapictures.css"/>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
	<div th:replace="./header :: header"></div>
	
	<section class="d-flex vh-100">
<div class="nasapictures-UPw">
  <div class="nasa-pictures-oBK">
    <span class="nasa-pictures-oBK-sub-0">
    NASA
    <br/>
    
    </span>
    <span class="nasa-pictures-oBK-sub-1">pictures</span>
  </div>
  
  
  <div class="auto-group-tmjh-abP" th:each="apod, stat : ${apods}">
    <div th:if="${stat.index % 2 == 0}" class="pic1-g8d">
        <div class="pic1rect-EA9">
            <img th:src="${apod.url}" alt="NASA Picture"/>
        </div>
        <div class="auto-group-bbyd-ZTK">
            <div class="title1-6CM" th:text="${apod.title}">Title</div>
            <div class="summary1-RVX" th:text="${apod.explanation}">Explanation</div>
        </div>
    </div>
    <div th:if="${stat.index % 2 == 1}" class="pic2-Ya9">
        <div class="pic2rect-u9o">
            <img th:src="${apod.url}" alt="NASA Picture"/>
        </div>
        <div class="auto-group-cuou-2VK">
            <div class="title2-PKs" th:text="${apod.title}">Title</div>
            <div class="summary2-uZ7" th:text="${apod.explanation}">Explanation</div>
        </div>
    </div>
</div>

<div class="pagenum-ncu">
  <a th:each="num : ${#numbers.sequence(1, apods.totalPages)}" 
     th:href="@{/nasapictures/__${num}__}" 
     class="item-1-X4h" 
     th:text="${num}">1</a>
</div>

</div>
</section>
</body>