<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>notice_board</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/noticeboard.css"/>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
	<div th:replace="./header :: header"></div>
<div class="noticeboard-fSm">
  <div class="auto-group-v5ab-a3w">
    <div class="notice-board-iA9">
      <span class="notice-board-iA9-sub-1">
      notice
      <br/>
      board</span>
    </div>
    <div class="newnotice-U2q">
      <div class="write-notice-CDj">write  notice</div>
      <img class="vector-JnZ" src="./assets/vector-aKF.png"/>
    </div>
  </div>
  <div class="descript-eLd">
    <div class="no-mRF">NO.</div>
    <div class="writer-fmX">writer</div>
    <div class="title-PSd">title</div>
    <div class="date-uQy">date</div>
  </div>
  <div class="content1-qZX">
    <div class="item-1-wcZ">1</div>
    <div class="teacher-Ebf">teacher</div>
    <div class="hello-everyone-9id">hello, everyone</div>
    <div class="witingdate-rN9">2023.11.25</div>
  </div>
  <div class="content2-wuP">
    <div class="item-2-3Bj">2</div>
    <div class="student1-kM3">student1</div>
    <div class="nice-day-TWM">nice day</div>
    <div class="witingdate-NNR">2023.11.25</div>
  </div>
  <div class="content3-roP">
    <div class="item-3-AJH">3</div>
    <div class="student2-5g9">student2</div>
    <div class="homework-is-soooo-easy-QTX">Homework is soooo easy</div>
    <div class="witingdate-vRs">2023.11.25</div>
  </div>
  <div class="content4-okZ">
    <div class="item-4-W9B">4</div>
    <div class="student3-pff">student3</div>
    <div class="homework-is-soooo-hard-9C9">Homework is soooo hard</div>
    <div class="witingdate-rcM">2023.11.25</div>
  </div>
  <div class="pagenum-LnR">
    <div class="item-1-4iR">1</div>
    <div class="item-2-bTT">2</div>
    <div class="item-3-Xc1">3</div>
  </div>
</div>
</body>