<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>notice_board</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/noticeboard.css"/>
  
  <style>
	a {
	  text-decoration: none;
	}
  </style>
</head>  
<body>
<div class="noticeboard-fSm">
  <div class="auto-group-v5ab-a3w">
    <div class="notice-board-iA9">
      <span class="notice-board-iA9-sub-0">
      notice
      <br/>
      
      </span>
      <span class="notice-board-iA9-sub-1">board</span>
    </div>
    <div class="newnotice-U2q">
      <a href="/makenotice">
	    <div class="write-notice-CDj">write notice</div>
	  </a>
	  <a href="/makenotice">
      	<img class="vector-JnZ" src="./assets/vector-aKF.png"/>
      </a>
    </div>
  </div>
  <div class="descript-eLd">
    <div class="no-mRF">NO.</div>
    <div class="writer-fmX">writer</div>
    <div class="title-PSd">title</div>
    <div class="date-uQy">date</div>
  </div>
  <div th:each="notice : ${notices}" class="content1-qZX"> <!-- model에 추가된 notices리스트를 순회 -->
  <div class="item-1-wcZ" style="width: 35px; overflow: hidden; text-overflow: ellipsis;" th:text="${notice.seq}"></div>
  <div class="teacher-Ebf" style="width: 100px; overflow: hidden; text-overflow: ellipsis;" th:text="${notice.writer}"></div>
  <div class="hello-everyone-9id" style="width: 310px; overflow: hidden; text-overflow: ellipsis;" th:text="${notice.title}"></div>
  <div class="witingdate-rN9" style="width: 200px; overflow: hidden; text-overflow: ellipsis;" th:text="${#dates.format(notice.date,'yyyy.MM.dd')}"></div>
</div>
</div>
</body>