<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>observe</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/observe.css"/>
</head>
<body>
<div class="observe-p1b">
  <div class="observe-39F">observe</div>
  <div class="auto-group-ynrz-qL1">
    <div class="observestar-jiD">
    </div>
    <div class="auto-group-yeyz-1fj">
      <div class="get1-4tu">
        <div class="getrect-LrR">
        </div>
        <div class="hi-yuP">hi!!</div>
        <div class="james-z3o">james</div>
      </div>
      <div class="get2-2FP">
        <div class="getrect-8ZK">
        </div>
        <div class="hello-zrR">hello!</div>
        <div class="julia-3Zo">julia</div>
      </div>
      <div class="send-fbB">nice!!!</div>
      <div class="writing-SEZ">good day</div>
    </div>
  </div>
</div>
</body>