<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>oneContent</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/onecontent.css"/>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<style>
  .title-83w{
  	padding: 10px !important;
  	overflow-x: auto !important;
  	padding-top: 40px !important;
  }
  
  ::-webkit-scrollbar {
	      width: 0px;
   }
</style>
</head>
<body>
	<div th:replace="./header :: header"></div>
<div class="onecontent-zAh">
  <div class="notice-board-tms">
    <span class="notice-board-tms-sub-0">
    notice
    <br/>
    
    </span>
    <span class="notice-board-tms-sub-1">board</span>
  </div>
  <div class="auto-group-p8y1-rcD">
    <div class="title-83w" th:text="${title}"></div>
    <div class="content-CZb">
      <div class="auto-group-g3q5-MSV">
        <div class="content-HL9">content</div>
        <div class="witingdate-11F" th:text="${date}"></div>
      </div>
      <div class="auto-group-hchy-v8D">
        <div class="there-is-new-homework-added-do-it-by-tomorrow-its-not-difficult-you-can-do-it-try-your-best-RKs" th:text="${content}">
        </div>
      </div>
    </div>
  </div>
  <a href="/noticeboard">
  <div class="savebox-BTT">
    <div class="save-K3s">back</div>
    <div class="saverect-2DB">
    </div>
  </div>
  </a>
</div>
</body>