<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>oneContent</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/onecontent.css"/>
</head>
<body>
<div class="onecontent-zAh">
  <div class="notice-board-tms">
    <span class="notice-board-tms-sub-0">
    notice
    <br/>
    
    </span>
    <span class="notice-board-tms-sub-1">board</span>
  </div>
  <div class="auto-group-p8y1-rcD">
    <div class="title-83w">hello, everyone</div>
    <div class="content-CZb">
      <div class="auto-group-g3q5-MSV">
        <div class="content-HL9">content</div>
        <div class="witingdate-11F">2023.11.25</div>
      </div>
      <div class="auto-group-hchy-v8D">
        <div class="there-is-new-homework-added-do-it-by-tomorrow-its-not-difficult-you-can-do-it-try-your-best-RKs">
        There is new homework added.
        <br/>
         Do it by tomorrow. 
        <br/>
        It’s not difficult.
        <br/>
        
        <br/>
        You can do it. Try your best.
        </div>
      </div>
    </div>
  </div>
  <div class="savebox-BTT">
    <div class="save-K3s">back</div>
    <div class="saverect-2DB">
    </div>
  </div>
</div>
</body>