<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>signUp</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous+Pro%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A700"/>
  <link rel="stylesheet" href="./styles/signup.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>

<body>

<section class="d-flex vh-100">
<div class="signup-xoP">
  <img class="astrondustimg-svM" src="./assets/astrondustimg.png"/>
  <form th:action="@{/signup}" method="post">
  <div class="id-zzy">
    <div class="putyourid-Jkm">Put your ID</div>
             <input class="auto-group-7z4s-zdb" type="text" placeholder="ID" id="uidInput" name="UID"  />
        <img class="idcheck-rA1" id="idCheckImage" src="./assets/idcheck.png" />
  </div>
  <div class="password-z1K">
    <div class="auto-group-ih3y-uPB">
      <div class="putyourpw-d4H">Put your password</div>
      <input type="password" class="auto-group-nd7q-jt1" placeholder="password" name="password" />
    </div>
    <div class="auto-group-6znb-pPf">
      <div class="checkyourpw-AyK">check your password</div>
      <input type="password" class="auto-group-g7oh-6MB" placeholder="check password" name="checkPassword" />
    </div>
  </div>
  
 <button type="submit" class="joinbox-Kzd">
    <span class="jointxt-U6q">join</span>
    <span class="joinrect-mbj"></span>
</button>

    
</div>

  </form>
</div>
</section>

<script>
const idCheckImage = document.getElementById('idCheckImage');
const uidInput = document.getElementById('uidInput');

uidInput.addEventListener('input', async () => {
  const response = await fetch(`/checkUID?UID=${uidInput.value}`);
  const isDuplicate = await response.json();

  if (uidInput.value === '') {
    idCheckImage.src = './assets/idcheck.png';
  } else if (isDuplicate) {
    idCheckImage.src = './assets/idcheck-red.png';
  } else {
    idCheckImage.src = './assets/idcheck-green.png';
  }
});

</script>

</body>