<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>signUp</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous+Pro%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A700"/>
  <link rel="stylesheet" href="./styles/signup.css"/>
</head>
<body>
<div class="signup-xoP">
  <img class="astrondustimg-svM" src="./assets/astrondustimg.png"/>
  <div class="id-zzy">
    <div class="putyourid-Jkm">Put your ID</div>
     <input class="auto-group-7z4s-zdb" type="text" placeholder="ID"/>
    <img class="idcheck-rA1" src="./assets/idcheck.png"/>
  </div>
  <div class="password-z1K">
    <div class="auto-group-ih3y-uPB">
      <div class="putyourpw-d4H">Put your password</div>
      <input type="password" class="auto-group-nd7q-jt1" placeholder="password"/>
    </div>
    <div class="auto-group-6znb-pPf">
      <div class="checkyourpw-AyK">check your password</div>
      <input type="password" class="auto-group-g7oh-6MB" placeholder="check password"/>
    </div>
  </div>
  <div class="joinbox-Kzd">
    <div class="jointxt-U6q">join</div>
    <div class="joinrect-mbj">
    </div>
  </div>
</div>


</body>