
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.header-V3K {
  box-sizing: border-box;
  padding: 0.8rem 1.85rem 0.8rem 3.9rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #020307;
}
.header-V3K .astrondustimg-zVs {
  margin: 0.6rem 37.1rem 0rem 0rem;
  width: 27.4rem;
  height: 12.3rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.header-V3K .observe-tr9 {
  margin: 9.5rem 4.1rem 0rem 0rem;
  cursor: pointer;
  display: flex;
  font-size: 5rem;
  font-weight: 700;
  line-height: 0.4;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Anonymous Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.header-V3K .nasa-pictures-bVf {
  margin: 5.7rem 3.65rem 0rem 0rem;
  max-width: 21.9rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 700;
  line-height: 0.8;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Anonymous Pro, 'Source Sans Pro';
  flex-shrink: 0;
}
.header-V3K .nasa-pictures-bVf .nasa-pictures-bVf-sub-0 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 0.8;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Anonymous Pro, 'Source Sans Pro';
}
.header-V3K .nasa-pictures-bVf .nasa-pictures-bVf-sub-1 {
}
.header-V3K .auto-group-yyyz-YJR {
  margin-bottom: 1.95rem;
  width: 24.9rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.header-V3K .auto-group-yyyz-YJR .account-srV {
  margin-bottom: 3.75rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.3333333333;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Anonymous Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.header-V3K .auto-group-yyyz-YJR .notice-board-nyT {
  width: 100%;
  max-width: 16.4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 700;
  line-height: 0.8;
  color: #ffffff;
  font-family: Anonymous Pro, 'Source Sans Pro';
  flex-shrink: 0;
}
.header-V3K .auto-group-yyyz-YJR .notice-board-nyT .notice-board-nyT-sub-0 {
}
.header-V3K .auto-group-yyyz-YJR .notice-board-nyT .notice-board-nyT-sub-1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 0.8;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Anonymous Pro, 'Source Sans Pro';
}
