html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  
}
.nasapictures-UPw {
  box-sizing: border-box;
  padding: 4.1rem 8.6rem 3.2rem 4.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/nasa_pictures_background.png');
  background-color: #ffffff;
}
.nasapictures-UPw .nasa-pictures-oBK {
  margin: 0rem 109.2rem 3.4rem 0rem;
  max-width: 21.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 700;
  line-height: 0.8;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Anonymous Pro, 'Source Sans Pro';
  flex-shrink: 0;
}
.nasapictures-UPw .nasa-pictures-oBK .nasa-pictures-oBK-sub-0 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 0.8;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Anonymous Pro, 'Source Sans Pro';
}
.nasapictures-UPw .nasa-pictures-oBK .nasa-pictures-oBK-sub-1 {
}
.nasapictures-UPw .auto-group-tmjh-abP {
  margin: 0rem 0rem 2.1rem 4.2rem;
  box-sizing: border-box;
  padding: 5.3rem 5.15rem 5.2rem 7.7rem;
  width: 126.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(217, 217, 217, 0.1099999994);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.nasapictures-UPw .auto-group-tmjh-abP .pic1-g8d {
  margin-bottom: 5.7rem;
  width: 100%;
  height: 29.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.nasapictures-UPw .auto-group-tmjh-abP .pic1-g8d .pic1rect-EA9 {
  margin-right: 4.25rem;
  width: 36.6rem;
  height: 29.7rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.nasapictures-UPw .auto-group-tmjh-abP .pic1-g8d .pic1rect-EA9 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nasapictures-UPw .auto-group-tmjh-abP .pic1-g8d .auto-group-bbyd-ZTK {
  margin: 1.5rem 0rem 2.5rem 0rem;
  height: calc(100% - 4rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.nasapictures-UPw .auto-group-tmjh-abP .pic1-g8d .auto-group-bbyd-ZTK .title1-6CM {
  margin-bottom: 7.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.3333333333;
  color: #ffffff;
  font-family: Anonymous Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.nasapictures-UPw .auto-group-tmjh-abP .pic1-g8d .auto-group-bbyd-ZTK .summary1-RVX {
  max-width: 73.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  font-family: Anonymous Pro, 'Source Sans Pro';
  flex-shrink: 0;
  
  align-items: flex-start;
  overflow-y: auto; /* 수직 스크롤 */
  max-height: 200px; /* 최대 높이 설정 */
  padding-top: 1rem; /* 상단 내부 여백 추가 */
  
}
/* 추가된 스크롤바 스타일 */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }
.nasapictures-UPw .auto-group-tmjh-abP .pic2-Ya9 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.nasapictures-UPw .auto-group-tmjh-abP .pic2-Ya9 .pic2rect-u9o {
  margin: 2rem 4.25rem 0rem 0rem;
  width: 36.6rem;
  height: 29.7rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.nasapictures-UPw .auto-group-tmjh-abP .pic2-Ya9 .pic2rect-u9o img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nasapictures-UPw .auto-group-tmjh-abP .pic2-Ya9 .auto-group-cuou-2VK {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.nasapictures-UPw .auto-group-tmjh-abP .pic2-Ya9 .auto-group-cuou-2VK .title2-PKs {
  margin-bottom: 5.7rem;
  max-width: 60.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.3333333333;
  color: #ffffff;
  font-family: Anonymous Pro, 'Source Sans Pro';
  flex-shrink: 0;
}
.nasapictures-UPw .auto-group-tmjh-abP .pic2-Ya9 .auto-group-cuou-2VK .summary2-uZ7 {
  max-width: 73.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  font-family: Anonymous Pro, 'Source Sans Pro';
  flex-shrink: 0;
  
  align-items: flex-start;
  overflow-y: auto; /* 수직 스크롤 */
  max-height: 200px; /* 최대 높이 설정 */
  padding-top: 1rem; /* 상단 내부 여백 추가 */
  /* 추가된 스크롤바 스타일 */
  
}
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }
  
.nasapictures-UPw .pagenum-ncu {
  margin: 0rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;  
  justify-content: space-between;
}

.nasapictures-UPw .pagenum-ncu .item-1-X4h {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #ffffff;

  font-family: Anonymous Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.nasapictures-UPw .pagenum-ncu .item-2-SBf {
  margin-right: 6.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #ffffff;
  font-family: Anonymous Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.nasapictures-UPw .pagenum-ncu .item-3-xvh {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #ffffff;
  font-family: Anonymous Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}